article {
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E6EAEE;
}
article:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.navcontainer {
    border-bottom: 1px solid hsl(0, 0%, 29%);
}

